{% extends 'layout.html' %}

{% block body %}
  <h1>Statistics Overview</h1>
  <table class="table table-striped">
    <tr>
      <th>IP address</th>
      <th>Two Weeks</th>
      <th>One Week</th>
      <th>Three Days</th>
      <th>Total Count</th>
      <!-- <th></th> -->
      <th></th>
    </tr>
    {% for stat in stats %}
      <tr>
        <td>{{stat.ip_addr}}</td>
        <td>{{stat.two_weeks}}</td>
        <td>{{stat.one_week}}</td>
        <td>{{stat.three_days}}</td>
        <td>{{stat.total}}</td>
        <!-- # TODO: Honey token details -->
        <!-- <td><a href="#" class="btn btn-default pull-right">Details</a></td> -->
        <td>
          <form action="{{url_for('delete_stat', ip=stat.ip_addr)}}" method="post">
            <input name="_csrf_token" type="hidden" value="{{  csrf_token()  }}">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
